.first-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height:100vh;
  background-color: #dadada !important;
  width: 100%;
}
progress {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 10px;
  background-color: #e5e5e5;
}

progress::-webkit-progress-bar {
  background-color: #e5e5e5;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #1abc9c;
  border-radius: 10px;
}

.amount {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 50px;
}

.borrowed {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.cash {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  border-radius: 1rem;

}
.cash1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 1rem;

}

.icon-cash{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.cash-name {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 30px;
  margin: auto;
}
.cash-amount{
  color: #1abc9c;
  font-size: 30px;
  margin: auto;
}
.positive {
  color: rgb(76, 148, 76);

}
.negative {
  color: rgb(211, 81, 81);

}

.alert {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.alert-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.alert-start {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 75%;
}

.alert-message {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.description {
  font-size: 20px;
  color: #32437c;
  margin: auto 0;
}

.description-start {
  font-size: 20px;
  color: #32437c;
  margin: auto 0;
}

.alert-negative {
  color: rgb(211, 81, 81);
  font-size: 3rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.alert-positive {
  color: rgb(76, 148, 76);
  font-size: 3rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 10rem;
  padding-left: 10rem;
}

.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cardfix{
  width: 90%;
  text-align: right;
  height: 55px;
  margin: 5px 0;
  padding: 0 10px;
  border: 1px solid black;
  background-color: #fefefe !important;
}
.accept {
  color: black;
  font-weight: 900;
  margin: 0;
}

.accept:hover {
  transition: all 0.5s ease;
  color:rgb(76, 148, 76)
}

.reject {
  color: black;
  font-weight: 900;
  margin: 0;
}

.reject:hover {
  transition: all 0.5s ease;
  color:rgb(211, 81, 81);
}

.message-container {
  position: relative;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: pop-in 0.1s ease-out;
  width: 100%;

}


.message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.label {
  font-size: 30px;
  color: #3d3b3b;
  padding-left: 5px;
}

.value {
  font-size: 30px;
  color: #444;
  padding-left: 5px;
}

.offer-amount .value {
  color: #1abc9c;
}

.total-amount .value {
  color: #1abc9c;
}

.split-amount .value {
  color: #1abc9c;
}

/* added css */

.auto{
  margin: auto;
}

.hand-card{
  width: 15%;
  text-align: center;
  border-radius: 50%;
}

.marginbottom{
  margin: 0;
  margin-bottom: 10px;
}

.margin0{
  margin: 0;
}

.margintopbottom{
  margin:5px 0px;
}

.progressbar__filluli::-webkit-progress-value {
  background-color: #E9E2A3;
  transition: width 2s ease-in-out;
}

.progressbar__fill::-moz-progress-bar {
  background-color: rgb(200, 200, 219, 0.75);
  transition: width 2s ease-in-out;
}

.progressbar {
  position: relative;
}

.progressbar__fill {
  width: 100%;
}

.progressbar__label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #3d3b3b;
  font-size: 20px;
  font-weight: 700;
}

.startbutton{
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 15px;
  border: 3px solid #32437c;
  font-size: 26px;
  font-weight: 700;
}

.startbutton:hover {
  background-color: rgb(200, 200, 219, 0.90);
  border-radius: 15px;
  border: 3px solid rgba(255, 255, 255);
  color: rgb(255, 255, 255)
}

/* circles */
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background:#E9E2A3;
   /* rgba(12, 8, 232, 0.2); */
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}