.h1readyS{
    position: absolute;
    color: rgb(3, 2, 2);
    font-size: 175px;   
    margin-top: 15%; 
    margin-left: 44%;
  }
.letter{
  margin-top: 30%;
}
  .container5 {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .btn1 {
    font-size: 26px;
    padding: 2px 4px;
    margin-top: 10rem;
    width: 15%;
    border-radius: 25px;
    color: rgb(241, 241, 246);
    background-color: #657789;
    border: 2px #000000 solid;
    z-index: 1;
    position: absolute;
    right: 42%;
  }

  .btn1:hover {
    color: #f3f6f9;
    background-color: #2e485f;
  }
  
  h1, h2, h3 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
  }
  
  /* h2 {
    font-size: 8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  h3 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
   */
  p {
    font-size: 2rem;
    margin-top: 1rem;
  }

.time-card{
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  height: 15%;
  margin-top: 3%;
  margin-right: 150px;
  /* border: 1px rgba(0, 0, 0, 0.2) solid; */
  /* border-radius: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  z-index: 1;
}

/* .timer{
  font-size: 26px;
} */
.btntcpt {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 15px;
  border: 3px solid #2E7105;
  margin-top: 1%;
  text-align: center;
  font-size: 26px;
  width: 30%;
  z-index: 1;
  color: #2E7105;
}

.btntcpt:hover{
  background-color: #1C4A00;
  border-radius: 15px;
  border: 3px solid 2E7105;
  color: white;
}